@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --main-black: #187a3f;
  --main-white: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-white);
}

.navbar {
  background-color: #35915a;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.nav-link {
  color: var(--main-white);
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 1rem;
  border-color: transparent;
  transition: all ease-in-out 0.3s;
}

.nav-link:hover {
  color: var(--main-black);
  border-bottom: 1rem;
  border-color: var(--main-black);
  scale: 1.1;
}

.navbar-brand img {
  width: 250px;
  color: white;
}

.img-thumbnail {
  border: 1px #23252d;
}

small {
  font-weight: 100;
}

#services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.esp {
  background-color: #187a3f;
}

.main h6 {
  color: var(--main-white);
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1;
  width: 40%;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  color: var(--main-black);
}

.secInst {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.inst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemDomusOne {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.inst h2 {
  color: #187a3f;
  font-weight: bold;
}

.pro-value1 {
  animation: load1 3s normal forwards;
  border-radius: 50px;
  background-color: var(--main-black);
  height: 30px;
  width: 0;
}

.pro-value2 {
  animation: load2 3s normal forwards;
  border-radius: 50px;
  background-color: var(--main-black);
  height: 30px;
  width: 0;
}

.pro-value3 {
  animation: load3 3s normal forwards;
  border-radius: 50px;
  background-color: var(--main-black);
  height: 30px;
  width: 0;
}

.pro-value4 {
  animation: load4 3s normal forwards;
  border-radius: 50px;
  background-color: var(--main-black);
  height: 30px;
  width: 0;
}

.progressSpan {
  color: var(--main-white);
  float: right;
}

@keyframes load1 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@keyframes load2 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes load3 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes load4 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

.btn1 {
  height: 40px;
  width: 145px;
  outline: none;
  border: none;
  background-color: var(--main-black);
  color: var(--main-white);
  border-radius: 4px;
}

.btn1:hover {
  background-color: transparent;
  color: var(--main-black);
  border: 1px solid var(--main-black);
  transition: 0.5s;
}

.btn2 {
  height: 60px;
  width: 200px;
  outline: none;
  border: 1px solid var(--main-black);
  background-color: transparent;
  color: var(--main-black);
  border-radius: 4px;
}

.btn2:hover {
  background-color: var(--main-black);
  color: var(--main-white);
  border: 1px solid transparent;
  transition: 0.5s;
}

.card img {
  height: 250px;
  width: 100%;
  border-radius: 4px;
}

.card {
  border: none;
  outline: none;
  -webkit-box-shadow: -8px 6px 89px -55px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 89px -55px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 6px 89px -55px rgba(0, 0, 0, 0.75);
}

.card p {
  color: gray;
}

.circle {
  height: 70px;
  width: 70px;
  background-color: lightgrey;
  color: var(--main-black);
  padding: 12px;
  font-size: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px;
}

.card:hover .circle {
  background-color: var(--main-black);
  color: var(--main-white);
  transition: 0.5s;
}

.item {
  position: relative;
}

.item:hover {
  -webkit-box-shadow: -8px 6px 109px -55px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 109px -55px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 6px 109px -55px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.item span {
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 40px;
  color: var(--main-black);
  cursor: pointer;
  opacity: 0;
}

.itemDomus {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  margin: 1.4rem;
  gap: 2rem;
}

#DomusRow {
  display: flex;
  flex-direction: column;
}

.itemDomus h3 {
  margin-bottom: 2rem;
}

.itemDomus svg {
  color: #187a3f;
}

.item:hover span {
  opacity: 1;
  transition: 0.5s;
}

.item:before {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(238, 235, 230, 0.65);
  opacity: 0;
  position: absolute;
}

.item:hover:before {
  opacity: 1;
  transition: 0.3s;
}

.circle:hover {
  background-color: var(--main-black);
  transition: 0.4s;
  color: var(--main-white);
}

.whatsapp-button {
  margin-bottom: 2rem;
  margin-right: 2rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  animation: whatsapp-button-animation 2s infinite ease-in-out;
  z-index: 9999;
}

video {
  height: 700px;
  margin-top: 5rem;
}

@keyframes whatsapp-button-animation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.whatsapp-button:hover {
  scale: 1.2;
  transition: all ease-in-out 0.3s;
}

.whatsapp-button img {
  width: 80px;
}

footer {
  background-color: var(--main-black);
  color: lightgray;
}

.contact a {
  text-decoration: none;
  color: var(--main-black);
}

.section-video {
  display: flex;
  flex-direction: row;
}

.text-container {
  width: 60%;
}

.text-container li {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.img-fluid {
  width: 100vw;
}

.imgMobile {
  display: none;
}

.cardInst {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.card h3 {
  color: var(--main-black);
  font-weight: bold;
}

@media (max-width: 2560px) {
  .btn2 {
    width: 250px;
  }
  .navbar-brand img {
    width: 650px;
  }
  .nav-link {
    font-size: 1.8rem;
  }
  .about p {
    font-size: 1.6rem;
  }
  .about img {
    height: 80%;
  }
  .btn2 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  #contact h5 {
    font-size: 1.6rem;
  }
  #contact p {
    font-size: 1.4rem;
  }
}

@media (max-width: 1920px) {
  .navbar-brand img {
    width: 400px;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .about p {
    font-size: 1.4rem;
  }
  .about img {
    height: 80%;
  }
  .btn2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  #contact h5 {
    font-size: 1.4rem;
  }
  #contact p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1280px) {
  .navbar-brand img {
    width: 280px;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .about p {
    font-size: 1.2rem;
  }
  .about img {
    height: 80%;
  }
  .btn2 {
    font-size: 1rem;
    font-weight: bold;
  }
  #contact h5 {
    font-size: 1.2rem;
  }
  #contact p {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .navbar-brand img {
    width: 225px;
  }
  .nav-link {
    font-size: 1rem;
  }
  .about p {
    font-size: 1rem;
  }
  .about img {
    height: 80%;
  }
  .btn2 {
    font-size: 1rem;
    font-weight: bold;
  }
  #contact h5 {
    font-size: 1rem;
  }
  #contact p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .img-fluid {
    height: 450px;
  }
  .section-video {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #services {
    flex-direction: column;
    align-items: center;
  }
  .text-container {
    width: 100%;
  }
  .whatsapp-button img {
    width: 60px;
  }
}

@media (max-width: 480px) {
  .imgMobile {
    display: block;
  }
  .imgPc {
    display: none;
  }
  .inst {
    flex-direction: column;
    align-items: center;
  }
  footer p {
    font-size: 0.8rem;
  }
}
